apiVersion: 1
groups:
    - orgId: 1
      name: cv-monitoring
      folder: Computer Vision
      interval: 1m
      rules:
        - uid: cv-db-disconnected
          title: Database Disconnected
          condition: C
          data:
            - refId: A
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: prometheus
              model:
                editorMode: code
                expr: cv_database_connected
                instant: true
                intervalMs: 1000
                maxDataPoints: 43200
                range: false
                refId: A
            - refId: C
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 1
                        type: lt
                      reducer:
                        type: last
                      type: query
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                type: threshold
          dashboardUid: ""
          panelId: 0
          noDataState: Alerting
          execErrState: Alerting
          for: 1m
          annotations:
            description: L'API ne peut plus accéder à PostgreSQL
            summary: Base de données PostgreSQL déconnectée
          labels:
            severity: critical
          isPaused: false
    - orgId: 1
      name: cv-monitoring2
      folder: Computer Vision
      interval: 1m
      rules:
        - uid: bf4l1x1bo6neoc
          title: alert_high_latency
          condition: C
          data:
            - refId: A
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: prometheus
              model:
                editorMode: builder
                expr: rate(cv_inference_time_seconds_sum[1h])/rate(cv_inference_time_seconds_count[1h])
                instant: true
                intervalMs: 1000
                legendFormat: __auto
                maxDataPoints: 43200
                range: false
                refId: A
            - refId: C
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 0.1
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                refId: C
                type: threshold
          noDataState: NoData
          execErrState: Error
          for: 1m
          isPaused: false
          notification_settings:
            receiver: Discord CV Alerts
